#c-box{
    float: right;
    width: 550px;
    height:350px;
    border : 1px solid #c71585;
}

#cc1-box{
    float: left;
    width: 273px;
    height:350px;
    border : 1px solid #c71585;
}
#cc2-box{
        float: right;
    width: 273px;
    height:350px;
    border : 1px solid #c71585;
}


/* css checkbox01　項目隠しているところ http://www.webdlab.com/labs/object-open-3/*/
