<!DOCTYPE html>
<html lang="ja-jp">

<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

  <title>ToDoリスト</title>
  <meta charset="UTF-8" />
  <script type="text/javascript">
  /*<![CDATA[*/
      window.onload = function(){
    	  var day = document.getElementById("operationDay").value;

          var form = document.getElementById("roku_checkbox").innerHTML;
	          form = form.replace("/ro_afterCheck", "/ro_afterCheck:" + day);
	          document.getElementById("roku_checkbox").innerHTML = form;
	
	          form = document.getElementById("roku_addCheckbox").innerHTML;
	          form = form.replace("/rokuPlus", "/rokuPlus:" + day);
	          document.getElementById("roku_addCheckbox").innerHTML = form;

    	      form = document.getElementById("nana_checkbox").innerHTML;
	    	  form = form.replace("/na_afterCheck", "/na_afterCheck:" + day);
	    	  document.getElementById("nana_checkbox").innerHTML = form;

	          form = document.getElementById("nana_addCheckbox").innerHTML;
              form = form.replace("/nanaPlus", "/nanaPlus:" + day);
              document.getElementById("nana_addCheckbox").innerHTML = form;
              
              form = document.getElementById("commentAdd").innerHTML;
              form = form.replace("/comment", "/comment/" + day);
              document.getElementById("commentAdd").innerHTML = form;
      };
      
      var yesterday = function(){
    	  document.yesterdayForm.submit();
      }
      var today = function(){
          document.todayForm.submit();
      }
      var tomorrow = function(){
          document.tomorrowForm.submit();
      }
      
  /*]]>*/
  
  </script>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>

</head>

<body>
<font face="Comic Sans MS">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



	<div class="container-fluid clearfix">
	
        <div class="col-xs">
             <img src="img/dog-ToDo.png" width="20%" height="20%"></img>
             <input id="operationDay" type="hidden" name="catchDate" th:value="${date}" />
        </div>
	
	
	    <div class="row">
            <div class="col-lg-3">
            
            <div class="list-group">
            <form name="yesterdayForm" method="post" th:action="@{/yesterday}"><span class="list-group-item" style="cursor:pointer" onClick="yesterday()" >昨日</span></form>
            <form name="todayForm" method="post" th:action="@{/today}"><span class="list-group-item" style="cursor:pointer" onClick="today()" >今日</span></form>
		    <form name="tomorrowForm" method="post" th:action="@{/tomorrow}"><span class="list-group-item" style="cursor:pointer" onClick="tomorrow()" >明日</span></form>
            
            <div class="list-group-item">
            <form name="calendarForm" method="post" th:action="@{/calendar}">
                <div class="input-group">
                    <span style="cursor:pointer" ><input type="date" required="required" class="form-control" name="num01"  th:value="${date}"/></span>
                    <span class="input-group-btn">
                        <input class="btn btn-default pull-right" type="submit" value="移動"/>
                    </span>
                </div>
            </form>
            </div>
            
		    </div>
            </div>


	        <div class="col-lg-9">

	                <div class="col-xs-6">
                       <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">
                               <!-- 左の箱 -->
                                <img src="img/Roku.png" style="vertical-align:text-bottom" hspace="20" alt="写真" width="100" height="100" class="img-thumbnail"></img><font size="5">ろくた</font>
                            </h3>
                          </div>
                          <div class="panel-body">
				                <!-- ArrayListの中身呼ぶ -->
				                <div id="roku_checkbox">
				                <form method="post" th:action="@{/ro_afterCheck}" >
				                <table>
				                    <tr th:each="rokutagohan : ${rokutaGohans}">
				                    <td class="col-xs-1"><input name="rokuClick" type="checkbox" onChange="this.form.submit()" value="true" th:value="${rokutagohan.id}"/></td>
				                    <td th:text="${rokutagohan.title}"></td><td class="col-xs-1"></td>
				                    <td th:text="${rokutagohan.chtime}"></td>
				                    </tr>
				                </table>
				                </form>
				                </div>
				        </div>
				            <!-- 追加項目 -->
				        <div class="panel-footer">
				              <div class="btm">
				                 <div class="form-group">
				                 <div id="roku_addCheckbox">
				                 <form method="post" th:action="@{/rokuPlus}">
				                     <div class="input-group">
                                        <input type="text" required="required" class="form-control" name="item" placeholder="項目名" />
                                        <input type="hidden" name="dogtype" value="0"/>
                                        <span class="input-group-btn">
                                            <input class="btn btn-default pull-right" type="submit" value="追加"/>
                                        </span>
                                    </div>
				                 </form>
				                 </div>
				                 </div>
				              </div>
				          </div>
				          </div>
	                </div>

   

	                <div class="col-xs-6">
				       <div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">
						       <!-- 右の箱 -->
                                <img src="img/Nana.jpg" style="vertical-align:text-bottom" hspace="20" alt="写真" width="100" height="100" class="img-thumbnail"></img><font size="5">ななこ</font>
                            </h3>
						  </div>
						  <div class="panel-body">
                                <!-- ArrayListの中身呼ぶ -->
                                <div id="nana_checkbox">
                                <form method="post" th:action="@{/na_afterCheck}" >
                                <table>
                                    <tr th:each="nanakogohan : ${nanakogohans}">
                                    <td class="col-xs-1"><input name="nanaClick" type="checkbox" onChange="this.form.submit()" value="true" th:value="${nanakogohan.id}"/></td>
                                    <td th:text="${nanakogohan.title}"></td><td class="col-xs-1"></td>
                                    <td th:text="${nanakogohan.chtime}"></td>
                                    </tr>
                                </table>
                                </form>
                                </div>
                          </div>
                                <!-- 追加項目 -->
                          <div class="panel-footer">
                                <div class="btm">
                                  <div class="form-group">
                                  <div id="nana_addCheckbox">
                                  <form method="post" th:action="@{/nanaPlus}">
                                    <div class="input-group">
	                                    <input type="text" required="required" class="form-control" name="item" placeholder="項目名" />
	                                    <input type="hidden" name="dogtype" value="1"/>
	                                    <span class="input-group-btn">
	                                        <input class="btn btn-default pull-right" type="submit" value="追加"/>
	                                    </span>
                                    </div>
                                  </form>
                                  </div>
                                  </div>
                                </div>
						  </div>
						</div>
	                </div>

	                <div class="col-xs-12">
	                   <div class="well well-primary" style="background:#ffffff; padding:10px; border-radius:10px;">
				            <div class="well well-lg"><p><span th:text="${comm}">今日も元気です</span></p></div>
				            <div class="form-group">
				            <div id="commentAdd">
				            <form method="post" th:action="@{/comment}">
				               <input type="hidden" name="catchDate" th:value="${date}" />
				               <div class="input-group">
					                <input type="text" required="required" class="form-control" name="comm" placeholder="今日も元気です"/>
					                <span class="input-group-btn">
	                                    <input class="btn btn-default pull-right" type="submit" value="書込"/>
	                                </span>
                                </div>
				                
				                
				            </form>
				            </div>
				            </div>
				      </div>
	                </div>
	        </div>
	    </div>
	</div>



</font>
</body>

</html>
